* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: aqua;
  max-width: 80vh;
  margin: 50px auto;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
h1 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 5%;
  color: brown;
}
span {
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 10px 5px;
  border: 1px solid brown;
}

.equals {
  width: 100%;
}

button {
  padding: 10px 50px;
  color: aqua;
  background-color: brown;
}
